<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id, value: booking.user_id%>
  <%= f.hidden_field :room_id, value: booking.room_id %>



  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: "start_date", readonly: "readonly" %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: "end_date", readonly: "readonly" %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>

    $(function(){

        var array = '<%= @disabled.to_json %>';
        array.replace(/&quot;/g, '"');

        $('.end_date').datepicker({
            dateFormat: "yy-mm-dd",
            beforeShowDay: function(date) {
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ array.indexOf(string) == -1 ]
        }

        });

        $('.start_date').datepicker({
            dateFormat: "yy-mm-dd",
            beforeShowDay: function(date) {
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ array.indexOf(string) == -1 ]
        }
        });
    });

</script>
