<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: "start_date" %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: "end_date" %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>

    $(function(){
        
        var array = ["2016-08-10","2016-08-11"]
        
        $('.end_date').datepicker({
            dateFormat: "yy-mm-dd",
            beforeShowDay: function(date) {
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ array.indexOf(string) == -1 ]
        }
            
        });
        
        $('.start_date').datepicker({
            dateFormat: "yy-mm-dd",
            beforeShowDay: function(date) {
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ array.indexOf(string) == -1 ]
        }
        });
    });

</script>