<p id="notice"><%= notice %></p>

<h1>Bookings for <%= @user.email %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Room</th>
      <th>Check-in date</th>
      <th>Check-out date</th>
      <th>Total price</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.room.name %></td>
        <td><%= booking.start_date.strftime("%Y-%m-%d") %></td>
        <td><%= booking.end_date.strftime("%Y-%m-%d") %></td>
        <td>€<%= booking.total_price %></td>
        <td><%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
