
<div class="container">

<p id="notice"><%= notice %></p>


<%= link_to 'Go back to All Rooms', all_rooms_path %>



<h1><%= @room.name %></h1>








<div class="row">
  <div class="col-md-8">
    <div class="thumbnail">
    <%= image_tag(@room.image_url.thumbnail.url) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
       <h3><%= @room.name %></h3>
       <p><%= @location %></p>
        <p><%= @room.description %></p>
        <p>€ <%= @room.price.round %> per/day</p>
        <% if user_signed_in? %>
<%= render 'bookings/form', booking: @booking %>

<% else %>

<h3> Please <%= link_to "login", '/users/sign_in' %> to make a reservation</h3>
<% end %>
<% if current_user %>
  <% if @user.id == @room.user_id %>
  <br>
    <p><%= link_to 'Edit', edit_room_path(@room), :class => "btn btn-primary btn-block" %></p>
    <p><%= link_to 'Destroy', @room, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block" %></p>
  <% end %>
<% end %>

      </div>
    </div>
  </div>
</div>


</div>
