<p id="notice"><%= notice %></p>

<h1>Rooms for <%= @user.email %></h1><% if user_signed_in? %>
<%= link_to 'Add new Room', new_room_path, :class => "btn btn-success " %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.name, room %></td>
        <td>€<%= room.price.round%>,-</td>
        <td></td>
        <td><%= link_to 'Edit', edit_room_path(room) %>&nbsp;&nbsp;<%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
