<!DOCTYPE html>
<html>
  <head>
    <title>Airbnbier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>

        <div id="main" class="container-fluid">
           <%= render "layouts/nav" %>

           <%= yield %>
        </div>

    </body>
</html>
