<!DOCTYPE html>
<html>
  <head>
    <title>Airbnbier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
       <%= render "layouts/nav" %>
       <% if current_page?(root_path) %>
           <%= render "layouts/jumbotron" %>
       <% end %>
        <div id="main" class="container">
           <%= yield %>
        </div>
        
         <%= render "layouts/footer" %>

    </body>
</html>
